@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

header {
  padding: 25px;
}

p {
  color: #7d7987;
}

button {
  border: none;
  padding: 15px 35px;
  border-radius: 25px;
  font-size: 1rem;
}
/* Header */

.header-wrapper {
  width: 75%;
  margin: 0 auto;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 170px;
}

header nav a {
  margin-left: 40px;
  color: #1f1534;
  opacity: 0.5;
  text-decoration: none;
}

header nav a:first-child {
  margin-left: 0;
}

.active-link {
  color: black;
  opacity: 1;
  font-weight: 700;
}

.q:hover {
  color: blue;
}
/* Section welcome */

.welcome-wrapper {
  width: 70%;
  margin: 0 auto;
}

.inner {
  padding: 75px 0;
}

.welcome-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#welcome img {
  width: 480px;
}

#welcome h1 {
  font-size: 2.5rem;
}

.welcome-details {
  width: 450px;
}

.welcome-btn {
  color: white;
  background-color: #458ff6;
  border: none;
  padding: 15px 25px;
  border-radius: 25px;
}
/* Section services */

#services {
  margin-top: 100px;
  background: url(../images/services-bg.png);
  background-size: 90% 95%;
  background-position: 0 1%;
  background-repeat: no-repeat;
}

.services-wrapper {
  width: 75%;
  margin: 0 auto;
}

.services-text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.services-text hr {
  width: 56px;
  height: 2px;
  background-color: black;
  margin: 30px auto;
}

.services-cards {
  margin-top: 100px;
}

.cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.cards-row:first-child {
  margin-bottom: 25px;
}

.services-cards .card {
  box-shadow: 0 0 15px 0 #999;
  background-color: white;
  width: 350px;
  padding: 25px;
  border-radius: 20px;
}

.card p {
  line-height: 1.5;
}

.card img {
  width: 70px;
  margin-bottom: 10px;
}

.default {
  background-color: white;
  color: #458ff6;
  border: 1px solid #458ff6;
}

.btn-container {
  text-align: center;
}

.projects-wrapper {
  margin: 0 auto;
  width: 70%;
}

.projects-container > * {
  margin-bottom: 165px;
}

.projects-container > *:last-child {
  margin-bottom: 30px;
}

.project {
  display: flex;
  justify-content: space-between;
}

.project img {
  width: 50%;
}

.project-text {
  width: 40%;
}

.project-text hr {
  width: 56px;
  height: 2px;
  background-color: black;
  margin: 30px 0;
}

.project-text h1 {
  font-size: 2.25rem;
}

.project-text button {
  margin-top: 30px;
}

.right-aligned {
  flex-direction: row-reverse;
}

#news {
  background: url(../images/articles-bg.png);
  background-size: 90% 95%;
  background-repeat: no-repeat;
}

.news-wrapper {
  width: 75%;
  margin: 0 auto;
}

.news-text {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.news-text hr {
  width: 56px;
  height: 2px;
  background-color: black;
  margin: 30px auto;
}

.news-cards .card {
  box-shadow: 0 0 15px 0 #999;
  background-color: white;
  width: 370px;
  overflow: hidden;
  border-radius: 20px;
}

.card-info {
  padding: 25px 25px 50px 20px;
}

.card-info h2 {
  font-size: 1.25rem;
}

.card-info p,
.card-info a {
  font-size: 1rem;
}

.news-cards .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0;
}

.news-cards a {
  color: #4089ed;
  text-decoration: none;
}

.video-wrapper {
  width: 75%;
  margin: 0 auto;
}

.video-container {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/video-cover.png);
  background-size: cover;
  border-radius: 24px;
  width: 100%;
  height: 460px;
  display: flex;
  align-items: center;
}

.video-element {
  padding: 25px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.video-description {
  text-align: center;
  color: white;
}

.video-description h1 {
  position: relative;
  bottom: 75px;
  font-size: 2rem;
}

.play-button {
  display: inline-block;
  border: 2px solid white;
  border-radius: 58px;
  padding: 20px 25px;
}

.play-button > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.play-button p {
  color: white;
}

.play-button img {
  width: 20%;
}

.points-container {
  position: relative;
}

.bottom-points {
  top: 50px;
  right: 50px;
}

.top-points {
  bottom: 250px;
  right: 75px;
}

.points-container img {
  position: absolute;
  width: 130px;
}

.contact-wrapper {
  width: 75%;
  margin: 0 auto;
}

.contact-text {
  text-align: center;
}

.contact-text h1 {
  font-size: 2rem;
}

.contact-form {
  margin: 50px 0;
}

.contact-container {
  justify-content: space-between;
  display: flex;
  border-radius: 100px;
  box-shadow: 0 0 20px 0 #999;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.contact-container > * {
  padding: 20px;
}

.input-container,
.input-container input {
  border: none;
  outline: none;
}

.input-button {
  background-color: #4985ff;
  width: 37%;
  text-align: center;
  color: white;
}

.input-container {
  width: 60%;
  padding-left: 40px;
}

.input-container input {
  width: 90%;
  font-size: 1.1rem;
}

#footer {
  background: linear-gradient(
    90deg,
    rgba(103, 195, 243, 1) 0%,
    rgba(90, 152, 242, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white !important;
}

.footer-wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 75px 0;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  width: 35%;
}

.description p {
  color: white;
}

.description img {
  width: 190px;
  margin-bottom: 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.links {
  width: 10%;
}
.links ul li {
  margin-bottom: 15px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 300;
}

a:hover {
  color: black;
}

.hidden {
  display: none;
}
.modal-canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
}

.modal {
  padding: 25px;
  box-shadow: 0 0 25px 0 #999;
}

.modal-close {
  cursor: pointer;
  text-align: right;
  color: white;
}

.video-container {
  margin-top: 25px;
}

.modal-canvas span:hover {
  color: black;
}
